<a href="https://colab.research.google.com/github/q95343123/AI0225/blob/main/03/18_AI_DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [1]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv

--2022-03-18 06:18:39--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 153109 (150K) [text/plain]
Saving to: ‘msft.csv’

msft.csv            100%[===================>] 149.52K  --.-KB/s    in 0.008s

2022-03-18 06:18:39 (18.1 MB/s) - ‘msft.csv’ saved [153109/153109]

In [2]:
!head -n 5 msft.csv

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600

In [5]:
msft = pd.read_csv("./msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [14]:
df2 = pd.read_csv("./msft.csv", 
                  usecols=['Date', 'Close'], 
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [15]:
df2.to_csv("./4070C023.csv", index_label='date')

In [16]:
msft = pd.read_csv("./4070C023.csv", index_col=0)
msft[:5]

           Close
date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [10]:
df = pd.read_csv("./4070C023.csv", skiprows=[0, 2, 3])
df[:5]

   7/21/2014  83.46  83.53  81.81  81.93  2359300
0  7/16/2014  83.77  84.91  83.66  84.91  1755600
1  7/15/2014  84.30  84.38  83.20  83.58  1874700
2  7/14/2014  83.66  84.64  83.11  84.40  1432100
3  7/11/2014  83.55  83.98  82.85  83.35  2001400
4  7/10/2014  85.20  85.57  83.36  83.42  2713300

In [17]:
!wget https://github.com/PacktPublishing/Learning-Pandas-Second-Edition/blob/master/data/stocks.xlsx

--2022-03-18 06:51:13--  https://github.com/PacktPublishing/Learning-Pandas-Second-Edition/blob/master/data/stocks.xlsx
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘stocks.xlsx’

stocks.xlsx             [ <=>                ] 121.64K  --.-KB/s    in 0.02s

2022-03-18 06:51:13 (5.43 MB/s) - ‘stocks.xlsx’ saved [124564]

In [20]:
ls

4070C023.csv  msft.csv  sample_data/  stocks.xlsx

In [22]:
df = pd.read_excel("./stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [33]:
aapl = pd.read_excel("./stocks.xlsx", sheet_name='aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [25]:
df.to_excel("./stocks2.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [27]:
df.to_excel("./stocks_msft.xls", sheet_name='MSFT')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [34]:
# write multiple sheets
# requires use of the ExcelWriter class
from pandas import ExcelWriter
with ExcelWriter("./all_stocks.xls") as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  if self.run_code(code, result):

In [35]:
# write to xlsx
df.to_excel("./msft2.xlsx")